/* Форма редактирования объявления */

.address_selector select {width:350px;}
img.wait_img {vertical-align: middle;}

.require {font-size: 10px; color: red;}

div.errors
{
 color: red;
 padding: 5px;
}



/* Boards table */

table.boards_table 
{
 background-color: #CACAB9;
 border: 2px solid #CACAB9;
 border-bottom: 0;
 width: 100%;
 font-size: 8pt;
}

.boards_table td 
{
 background-color: white;
 padding: 5px 4px 5px 4px;
 text-align: center;
 vertical-align: middle;
 border: 1px solid #CACAB9;
}

td.left
{
 text-align: left;
}

td.right
{
 text-align: right;
}

.boards_table th 
{
 background-color: #F0F0F0;
 border: 1px solid #CACAB9;
 border-bottom: 2px solid #CACAB9;
 text-align: center;
}

.boards_table .new td
{
 border-bottom: 2px solid #CACAB9;
 background-color: #F7BEBE;
}

.boards_table .last td 
{
 border-bottom: 2px solid #CACAB9;
 background-color: #F8F8F8;
}

.boards_table .photo span 
{
 cursor: pointer;
 text-decoration: underline;
 color: #007F42;
}

.boards_table .photo span:hover
{
 text-decoration: none;
 color: black;
}

.boards_table b
{
 color: green;
 font-weight: normal;
}

.boards_table div.object
{
 float: left;
 margin-right: 1em;
}

.boards_table div.number, .boards_table div.date, .boards_table div.addon
{
 float: left;
 margin-right: 2em;
}

.boards_table div.trash
{
 float: right;
}

.boards_table div.edit, .boards_table div.planning
{
 float: right;
}

.boards_table div.address
{
 clear: both;
}

.boards_table div.addon
{
 position: relative;
}

.boards_table div.addon a
{
 position: absolute;
 z-index: 0;
 white-space: nowrap;
}

.boards_table div.addon div.add_container
{
 position: absolute;
 z-index: 1000;
 top: 0;
 left: 0;
 width: 500px;
 border: 1px solid black;
 background: white;
 display: none;
}

.boards_table div.addon .add_container p
{
 display: block;
 margin: 0;
 padding: 5px;
}

.boards_table div.addon .add_container span
{
 display: block;
 margin: 0;
 padding: 5px;
 background: #F8F8F8;
 border-top: 1px solid #CACAB9;
}

.boards_table div.addon:hover div.add_container
{
 display: block;
}

.boards_table tr.addon td
{
 text-align: left;
 vertical-align: top;
}

.boards_table tr.addon p
{
 margin: 0;
}

.boards_table tr.addon span
{
 display: block;
 margin: 5px 0 0 0;
 padding-top: 3px;
 border-top: 1px solid #CACAB9;
}



div.map
{
 margin-right:1em;
 float: right;
}

div.edit
{
 margin-right:1em;
 position:relative;
}

div.edit div
{
 position:absolute;
 top: 0; left: 0;
 background: white;
 border: 1px solid black;
 padding: 5px;
 display: none;
 z-index: 10;
 text-align: left;
}

div.edit:hover div
{
 display: block;
}

.pages a {text-decoration: none}
.pages a:hover {text-decoration: underline}
.pages a.current {font-weight: bold; color: black;}


/* Форма поиска */

#search_form
{
 /*float: left;*/
 border-right: 1px solid #bfbfbf;
 width: 800px;
}

#search_form #object_type
{
 margin: 0;
 padding: 0;
 border-top: 1px solid #bfbfbf;
 clear:both;
}

#search_form #object_type ul
{
 margin: 0;
 padding: 0;
 float: left;
 list-style: none; 
 background-color: #e1fee2;
 border-bottom: 1px solid #bfbfbf;
 font-size: 12pt;
}

#search_form #object_type li
{
 float: left;
 margin: 0;
 padding: 5px;
 border-left: 1px solid #bfbfbf;
 border-bottom: 1px solid #bfbfbf;
 background-color: white;
}

#search_form #object_type li.first
{
 border-left: none;
}

#search_form #object_type li.current
{
 background-color: #e1fee2;
 font-weight: bold;
 border-bottom: none;
}

#search_form #object_type .current a
{
 font-weight: bold;
 color: black;
 text-decoration: none;
}

#search_form #object_type #operation
{
 clear: both;
 padding: 5px 0 5px 3em;
 background-color: #e1fee2;
 border: none;
 white-space: nowrap;
 font-size: 10pt;
}

#search_form #object_type #operation a
{
 margin-right: 5em;
 color: black;
 text-decoration: none;
}

#search_form #object_type #operation a:hover
{
 text-decoration: underline;
}

#search_form #object_type #operation a.current
{
 font-weight: bold;
 font-size: 110%;
}

#search_form #object_row select, #search_form #oblast_row select, #search_form #town_row select, #search_form #microregion_row input, #search_form #street_row input
{
 width: 200px;
}

#search_form #base_address
{
  float:left;
  width: 55%;
}

#search_form #admin_regions_block
{
 float: right;
 width: 45%;
}

#search_form #admin_regions_block label
{
 float: left;
 font-weight: bold;
 width: 9em;
}

#search_form #admin_regions_row
{
 width: 200px;
 height: 100px;
 overflow: auto;
 border: 1px solid #bfbfbf;
 line-height: 1;
}

#search_form #admin_regions_row label
{
 float: none;
 display: block;
 width: auto;
 font-weight: normal;
}

#search_form #rooms_row
{
 height: 4em;
 _height: 5em;
}

#search_form #rooms_row label
{
 float: left;
 margin-right: 1em;
 font-weight: normal;
 text-align: center;
 line-height: 1;
}

#search_form #search_floor_row
{
 clear: none;
 height: 4em;
 _height: 5em;
 overflow: auto;
}

#search_form #search_floor_row label
{
 width: auto;
 margin-right: 1em;
 font-weight: normal;
}

#search_form #search_land_area_row
{
 clear: none;
 height: 4em;
 _height: 5em;
 overflow: auto;
}

#search_form #search_land_area_row input
{
 width: 5em;
}

#search_form #search_price_row
{
 clear: none;
 height: 4em;
 _height: 5em;
}

#search_form #search_price_row input
{
 width: 4em;
}

#search_form #search_area_block
{
 float: left;
 margin-right: 2em;
}

#search_form #search_area_block fieldset.mini
{
 margin-right: 0;
}

#search_area_row, #search_living_area_row, #search_kitchen_area_row
{
 width: 140px;
}

#search_area_row input, #search_living_area_row input, #search_kitchen_area_row input
{
 width: 3em;
}

#search_area_row label, #search_living_area_row label, #search_kitchen_area_row label
{
 margin-right: 0.5em;
}

div.multiselect
{
 float: left;
 margin-right: 1em;
}

.multiselect label
{
 font-weight: bold;
}

.multiselect div
{
 width: 192px;
 height: 160px;
 overflow: auto;
 border: 1px solid #bfbfbf;
 line-height: 1;
}

.multiselect div label
{
 float: none;
 display: block;
 width: auto;
 font-weight: normal;
}

#sanuzel_block
{
 margin-right: 0;
}

#search_addon_row legend
{
 cursor: pointer;
 text-decoration: underline;
}

#search_sort_row label
{
 margin-right: 1em;
}

#search_preview h2
{
 background-color: #D1F6CA;
 border-top: 1px solid #71B287;
 border-bottom: 1px solid #71B287;
 font-family: Georgia,serif;
 font-size: 13px;
 font-weight: normal;
 padding: 2px 5px;
 color: #007F42;
 margin-bottom: 5px;
}

/* End - Форма поиска */

.submit_row
{
 text-align: center;
 padding-left: 80px;
}

.submit_row a
{
 display: block;
 width:639px; height:43px;
 background: #EF7807 url(img/big_button.png) top left no-repeat;
 text-align: center;
 color: white;
 font-size: 17pt;
 font-weight: bold;
 text-decoration: none;
 line-height: 1;
}

.submit_row a:hover
{
 color: black;
}

.submit_row a span
{
 display: block;
 padding: 10px 0 0 0;
}

/* Autocomplete */

.autocomplete-w1 { z-index: 10; /*background:url(shadow.png) no-repeat bottom right;*/ position:absolute; top:-224px; left:0px; /* IE6 fix: */ _background:none; _top:1px; }
.autocomplete-w2 { padding:0 6px 6px 0; }
.autocomplete { width:300px; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px 0px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:bold; }

/* End - Autocomplete */

#photos
{
 width: 100%; height: 640px;
 margin: 10px 0 0 0;
 position: relative;
}


#photo_list
{
 display: block;
 list-style: none;
 list-style-image: none;
 margin: 0 10px 0 0;
 padding: 5px;
 overflow: auto;
 width: 140px;
 border: 2px solid #CACAB9;
 position: absolute;
 z-index: 1;
 top: 0;
 left: 0;
 height: 480px;
 text-align: center;
}

#photo_list li
{

}

#photo_list img
{
 border: 1px solid black;
 cursor: pointer;
 margin-top: 5px;
 margin-bottom: 5px;
}

#photo_list img.selected
{
 border: 2px solid #EF7807;
 margin-top: 4px;
 margin-bottom: 4px;
}

#photo_list img:hover
{
 border-color: #EF7807;
}

#full_photo
{
 margin: 0 0 0 160px;
 text-align: center;
 z-index: 1;
}

#full_photo img
{
 border: 1px solid black;
 z-index: 1;
}

#dom_overlay 
{
 background-color: #E1FEE2;
 position: absolute; 
 top:0; left:0; bottom: 0;
 _height: expression(result_container.offsetHeight);
 opacity: 0.7; 
 filter:alpha(opacity=70);
 width: 100%;
 z-index: 90;
 font-size: 0;
}

#loading1, #loading2, #preview_loading
{
 font-weight: bold;
 font-size: 16pt;
 border: 1px solid black;
 background: white url(img/wait.gif) 1px 8px no-repeat;
 position: absolute;
 padding: 5px 5px 5px 20px;
 left: 5px;
 z-index: 95;
}

#loading1
{
 top: 5px;
}

#loading2
{
 bottom: 5px;
}

#search_preview ul
{
 font-size: 8pt;
}

#preview_loading
{
 position: relative;
 top:0; left: 0;
}

#boards_view_selector
{
}

#boards_view_selector ul
{
 list-style: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 width: 100%;
 font-size: 13pt;
 margin-bottom: 5px;
}

#boards_view_selector li
{
 display: block;
 float: left;
 padding: 5px 0.5em 5px 0.5em;
 margin: 0 0 5px 0;
 cursor: pointer;
 border: 1px solid #BFBFBF;
 border-right: none;
 border-bottom: 1px solid #BFBFBF;
}

#boards_view_selector li.current
{
 font-weight: bold;
 border-bottom: none;
 padding-top:6px;
}

#boards_view_selector li.last
{
 border-top: none;
 padding-top:6px;
 padding-left: 2em;
 cursor: auto;
}

#boards_view_selector li:hover
{
 text-decoration: underline;
}

#boards_view_selector li.last:hover
{
 text-decoration: none;
}

#clear_trash {text-align: right;}

td.kaka_sz
{
 padding: 0;
}

.boards_table td.kaka_sz
{
 border-bottom: 2px solid #CACAB9;
}

td.kaka_sz img
{
 border: none;
}

.kaka_zone img, .kaka_zone object, .kaka_zone embed
{
 vertical-align: middle;
}

#search_form.demand_form #rooms_row
{
 height: auto;
}

#search_form.demand_form #rooms_row label 
{
 font-weight: bold;
 line-height: 2;
 text-align: left;
 margin-right: 0;
}


#demand_edit #max_price_row, #demand_edit #price_rub_row, #demand_edit #price_m_square_row, #demand_edit #price_month_row
{
 clear:none;
 float: left;
 margin-right: 2em;
}
#demand_edit #max_price_row label
{
 width: auto;
 margin-right: 1em;
}

#demand_edit #min_price, #demand_edit #max_price
{
 width: 6em;
 text-align: right;
}

#demand_edit #min_price
{
 margin-right: 1em;
}

#demand_edit #price_group input
{
 float: left;
}

#demand_edit #price_group label {width: auto;}

#demand_edit #rooms_group
{
 float:left;
 margin-right: 1em;
}

#demand_edit #rooms_group label, #demand_edit #building_group label
{
 width: 3em;
}

ul.boards_type
{
 list-style-type: none;
 list-style-image: none;
 margin: 0; padding: 0;
 font-size: 14px;
 background-color: #EDFCEA;
}

.boards_type li.first
{
 display: block;
 float:left;
 width: 50%; 
 border-right: 1px solid #BFBFBF;
 border-bottom: 1px solid #BFBFBF;
 border-top: 1px solid #BFBFBF;
 text-align: center;
 padding: 5px;
}

.boards_type li.demand
{
 display: block;
 border-bottom: 1px solid #BFBFBF;
 border-top: 1px solid #BFBFBF;
 text-align: center;
 padding: 5px;
}

#yandex_map_container
{
 position: absolute;
 margin-left: 140px;
 background-color: white;
 border: 1px solid #72B286;
 padding: 10px;
 z-index: 100;
}

#close_map
{
 text-align: right;
 margin-bottom: 5px;
}

#yandex_map
{
 width: 700px;
 height: 500px;
 border: 1px solid #BFBFBF;
}

#precision
{
 float: left;
}

div.selected_board
{
 border-color: #EF7807;
}