@import "http://static.gorodkirov.ru/sites/gorodkirov/css/base.css";

/* Header */

#page_header
{
 width: 100%;
 height: 194px;
 border-top: 2px solid #cef6c4;
 border-bottom: 2px solid #cef6c4;
 position: relative;
 margin: 18px 0 10px 0;
 padding: 0;
 /* background: url(img/new_year_bg.jpg) 250px 0 no-repeat; */
}

#header_logo
{
 position: absolute;
 left: 21px;
 top: 29px;
}

#header_search_panel
{
 position: absolute;
 top: 41px;
 left: 408px;
 right: 17px;
 height: 65px;
 _width: expression(page_header.offsetWidth-455);
 padding: 0 16px;
}

#header_sp_form
{
 padding: 18px 0 0 0;
 height: 47px;
 background: url(img/panel_bg.png) top left repeat-x;
}

#header_sp_l_round
{
 position: absolute;
 width: 16px;
 height: 65px;
 top: 0;
 left: 0;
 overflow: hidden;
 background: url(img/panel_lr.png) top left no-repeat;
}

#header_sp_r_round
{
 position: absolute;
 width: 16px;
 height: 65px;
 top: 0;
 right: 0;
 overflow: hidden;
 background: url(img/panel_rr.png) top left no-repeat;
 _right: -1px;
}

#header_object_id
{
 width: 150px;
}

#header_object_type
{
 width: 180px;
}

#header_operation
{
 width: 120px;
}

#header_send_board
{
 position: absolute;
 right: 22px;
 top: 106px;
}

#header_send_board a
{
 display: block;
 padding: 5px 30px 0 30px;
 float: right;
 position: relative;
 height: 19px;
 /*_height: 24px;*/
 background: #ef7807 url(img/head_btn_bg.gif) top left repeat-x;
 color: white;
 text-decoration: none;
}

#header_send_board a:hover
{
 color: black;
}

#header_sb_l_round
{
 position: absolute;
 width: 11px;
 height: 24px;
 top: 0;
 left: 0;
 overflow: hidden;
 background: url(img/head_btn_round.gif) top left no-repeat;
}

#header_sb_r_round
{
 position: absolute;
 width: 11px;
 height: 24px;
 top: 0;
 right: 0;
 _right: -1px;
 overflow: hidden;
 background: url(img/head_btn_round.gif) -11px 0 no-repeat;
}

#header_menu
{
 clear: both;
 position:absolute;
 margin: 0;
 padding: 0;
 left: 22px;
 right: 22px;
 bottom: 20px;
 height: 36px;
 border-top: 1px solid #72b286;
 border-bottom: 1px solid #72b286;
 background-color: #edfcea;
 _width: expression(page_header.offsetWidth-44);
}

#header_menu ul
{
 margin: 10px 11px 0 11px;
 padding: 0;
 list-style: none;
 color: #00703e;
 font-size: 14px;
 font-weight: bold;
}

#header_menu ul li
{
 float: left;
 background: url(img/menu.gif) no-repeat left center;
 margin: 0;
 margin-right: 21px;
 padding: 0;
 padding-left: 18px;
 position: relative;
}

#header_menu a
{
 color: #00703e;
 text-decoration: none;
}

#header_menu a:hover
{
 text-decoration: underline;
}


#header_login {
    background: none repeat scroll 0 0 transparent;
    color: #E96C22;
    float: right;
    font-size: 11px;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 415px;
    top: 111px;
}

#header_login a
{
 color: #e96c22;
}

#login_layer
{
 position: absolute;
 z-index: 10000;
 width: 300px;
 height: 160px;
 top: 30px;
 right: 0px;
 background-color:#ffffff;
 background-image: url('/images/enter_pod.gif');
 visibility: hidden;
}

#login_layer .login_header
{
 background-color: #edfcea;
}

#login_layer a
{
 color: #e96c22;
}

#login_layer table
{
 border-collapse: separate;
}
/* End - Header -------------------------------------- */

#page_footer .white
{
 color: #007F42;
}

#page_footer .white a
{
 color: #007F42;
}

#page_footer .white a:hover
{
 color: gray;
}


/* Стандартные элементы */

a
{
 color: #007F42;
}

ul 
{
 margin: 0; 
 padding-left: 20px;
 list-style: url(img/list.gif);
}

ul ul {list-style: url(img/list.gif);}

table
{
 padding:0;
 margin:0;
 border-collapse: collapse;
}

td
{
 margin: 0;
 vertical-align: top;
}

div.g-padding, td.g-padding
{
 padding-left: 5px;
 padding-right: 5px;
}

div.v-padding, td.v-padding
{
 padding-top: 7px;
 padding-bottom: 7px;
}

div.padding, td.padding
{
 padding: 7px 5px;
}

/* End - Стандартные элементы ------------------ */


/* Блок */

div.block
{
 padding: 3px 4px;
}

.block div.content
{
 border-left: 1px solid #71B287;
 border-right: 1px solid #71B287;
 border-bottom: 1px solid #71B287;
}

.block div.content .l-border
{
 border-left: 1px solid #71B287;
}

.block div.content .r-border
{
 border-right: 1px solid #71B287;
}

h1.caption
{
 color: #007F42;
 padding: 0;
 margin: 0;
 border-top: 1px solid #71B287;
 border-bottom: 1px solid #71B287;
 font-size: 21px;
 font-weight: normal;
 font-family: Georgia, serif;
 text-transform: none;
 background: #D1F6CA url(img/caption.gif) no-repeat 38px center;
 padding-left: 62px;
 padding-top: 4px;
 padding-bottom: 2px;
}

h1.caption span
{
}

.block .marked, .block td.marked
{
 background-color: #eefceb;
}

.block .left-col
{
 background-color: #eefceb;
 width: 160px;
 /*_width: 170px; */
 border-right: 1px solid #71B287;
 padding: 7px 5px;
}

/* End - Блок ---------------------- */


/* Скруглёные кнопки */

div.round-button
{
 position: relative;
 height: 24px;
}

.round-button div.center
{
 float: left;
 position: absolute;
 left: 50%;
}

.round-button div.left
{
 float: left;
 position: absolute;
}

.round-button .center a
{
 left: -50%;
}

.round-button .left a
{
 left: 0;
}

.round-button a
{
 margin: 0px auto;
 display: block;
 position: relative;
 padding: 0px 11px;
 color: white;
 text-decoration: none;
 font-size: 13px;
 font-family: arial, sans-serif;
 white-space: nowrap;
 background: url(img/orange_btn.gif) 0px -24px no-repeat;
}

.green-round-button a
{
 background: url(img/green_btn.gif) 0px -24px no-repeat;
}

.round-button a:hover
{
 color: black;
}

.round-button a span
{
 background: #F07E09 url(img/orange_btn.gif) top left repeat-x;
 display: block;
 padding: 3px 0 0 0;
 height: 21px;
 /*_height: 24px;*/
 _cursor: hand;
}

.green-round-button a span
{
 background: #26AD69 url(img/green_btn.gif) top left repeat-x;
}

.round-button .r-round
{
 position: absolute;
 width: 11px;
 height: 24px;
 top: 0;
 right: 0;
 /*_right: -1px; */
 overflow: hidden;
 background: url(img/orange_btn.gif) -11px -24px no-repeat;
}

.green-round-button .r-round
{
 background: url(img/green_btn.gif) -11px -24px no-repeat;
}

/* End - Скруглёные кнопки --------------- */


/* Статьи */

.article_arhiv td
{
 padding-bottom: 11px;
}

.article_link
{
 font-family: arial, serif;
}

.article_link td
{
  padding-bottom: 0px;
}

.article_link
{
 font-size: 11px;
}

.article_link h3
{
 font-size: 11px;
 color: #EC6601;
 margin-right: 10px;
}

.article_link div
{
 font-size: 11px;
 color: #666666;
 margin-right: 10px;
}

.article_link h1
{
 font-size: 14px;
 font-weight: bold;
}

.article_link p, .article_link p a
{
 color: #4E4E4E;
 font-size: 11px;
}

.hot-article .article_link p, .article_link p a
{
 font-size: 13px;
}

.hot-article .article_link h1
{
 font-size: 18px;
}

.other_news .even td.a_a 
{
 background-color: #EEFCEB;
}

.article div.header
{
 background-color: #EEFCEB;
}

.article .header h1
{
 color: #007F42;
}

div.other_news_header
{
 color:#007F42;
}

.other_news td.a_a 
{
 border-color: #72B286;
}

.other_news .article_link h1 a
{
 color:#007F42;
}

.other_news .article_link h1 a:hover 
{
 color:black;
}

/* End - Статьи --------------------- */


/* Формы */

div.reset_float {clear:both;}

div.form_container
{
 margin-top: 5px;
 padding: 5px; 
 line-height: 2;
}
.form_container div.input
{
 clear:both;
}
.form_container .input label
{
 font-weight: bold;
 display: block;
 float: left;
 width: 12em;
}
.form_container fieldset
{
 border: 1px solid grey;
 padding: 0 5px 5px 5px;
 margin:0;
 margin-bottom:5px;
 clear:both;
}
.form_container legend
{
 font-weight: bold;
 color: #404040;
 margin-left: 1em;
}

.form_container fieldset.mini
{
 clear: both;
 float: left;
 margin-right: 1em;
}

/* End - Формы --------------------- */


.recom_firm_info {font-size:12px; }
.recom_firm_info A {color:#13a25e;}

td.lvr
{
 padding: 0 0;
 background: none;
}

/* Фото предложения */

table.photo_estate
{
 width: 100%;
 border-collapse: separate;
 color: #4E4E4E;
}

.photo_estate td
{
 border: 1px solid #71B287;
 background-color: #EEFCEB;
 padding: 1px;
}

div.photo_board
{
 background-color:#EEFCEB;
 border:1px solid #71B287;
 float:left;
 margin:2px;
 padding:1px;
 width:260px;
 height: 126px;
 overflow: hidden;
}

.photo_board h3
{
 text-align: center;
 margin: 0;
 padding: 0;
 text-transform: uppercase;
}

table.photo_estate a
{
 color: #4E4E4E;
}

table.photo_estate a:hover
{
 color: black;
}

.photo_board .photo
{
 float: left;
 width: 102px;
 height: 102px;
 padding: 2px;
 margin-right: 5px;
 display: table-cell;
 vertical-align: middle;
 text-align: center;
}

.photo_board .photo img
{
 border: 1px solid black;
 _margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<0 ? "0" : (parentNode.offsetHeight - this.offsetHeight)/2 + "px");
}

/* End Фото предложения */

.v_padding {padding-top: 3px; padding-bottom: 3px;}

.cell-padding td { padding: 3px; }

table.kronholz {
    border-collapse: separate;
    border-spacing: 11px 5px;
}
.kaka_zone table.vyatterem2 {
    border-collapse: separate;
    /*border-spacing: 20px 5px;*/
}

table.vyatterem2 tbody tr td a img {
    border: 1px solid #1f1f1f;
}
.kaka_zone.zone_after_logo.loaded {
  left: 18px;
  position: absolute;
  top: 103px;
}